@model IEnumerable<SUARweb.Agreement>

@{
    ViewBag.Title = "Index";
}

<h2>Просмотр данных о договорах аренды</h2>

<p>
    <input type="button" value="Добавить" onclick="window.location.href='@Url.Action("Create", "Agreements")';" />
    <input type="button" value="Сброс фильтров" onclick="window.location.href='@Url.Action("Index", "Agreements")';" />
</p>

<div>
    @using (Html.BeginForm("ExportToExcel", "Agreements", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            <input type="submit" value="Экспорт в Excel" />
            <p></p>
        </div>
    }
</div>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Статус: </label>
        @Html.TextBox("status")
        <label class="control-label">Квартира: </label>
        @Html.TextBox("apartment")
        <label class="control-label">Арендатор: </label>
        @Html.TextBox("renter")
        <label class="control-label">Арендодатель: </label>
        @Html.TextBox("lessor")
        <p></p>
        <label class="control-label">Сортировать по датам </label>
        @Html.DropDownList("dateSort", ViewBag.DataSortTypes as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">С: </label>
        <!--Эти элементы возвращают строки!-->
        <input type="datetime" name="firstDate" />
        <label class="control-label">По: </label>
        <input type="datetime" name="secondDate" />
        <input type="submit" value="Фильтр" />
        <p></p>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agreement_Status.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.Client)
        </th>
        <th>
            <p>Квартира</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaySum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay_Frequency.Frequency)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement_Status.Status)
            </td>
            <td>
                @item.Client.GetPassportAndFullname()
            </td>
            <td>
                @item.Apartment.Client.GetPassportAndFullname()
            </td>
            <td>
                @item.Apartment.GetAdress()
            </td>
            <td>
                @item.StartDate.ToString("d")
            </td>
            <td>
                @item.EndDate.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaySum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay_Frequency.Frequency)
            </td>
            <td>
                <!--Если договор действует-->
                @if (item.StatusId == 1)
                {
                    <input type="button" value="Изменить статус" onclick="window.location.href='@Url.Action("SetStatus", "Agreements", new { id = item.ID })';" />
                    <p></p>
                    <input type="button" value="Продлить" onclick="window.location.href='@Url.Action("Prolong", "Agreements", new { id = item.ID })';" />
                    <p></p>
                }
                <input type="button" value="Удалить" onclick="window.location.href='@Url.Action("Delete", "Agreements", new { id = item.ID })';" />
                <p></p>
                <input type="button" value="Добавить платеж" onclick="window.location.href='@Url.Action("Create", "Payments", new { agreementID = item.ID })';" />

            </td>
        </tr>
    }

</table>
<p>
    <input type="button" value="Главное меню" onclick="window.location.href='@Url.Action("Index", "Home")';" />
</p>
